{% extends 'base.html' %}
{% load static %}
{% block title %}
    Employee
{% endblock %}

{% block content %}
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Xodimlar</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="{% url 'main:welcome' %}">Dashboard</a></li>
                        <li><a href="{% url 'main:employees' %}">Xodimlar</a></li>
                        <li><a href="{% url 'main:create_employee' %}">Xodimlar qo'shish</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">
                                Hodim
                            </strong>
                            bo'limlar bo'yicha
                        </div>
                        <div class="card-body card-block">
                            <form action="{% url 'main:by_department' %}" method="post" class="form-inline"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group col-lg-8">
                                    <div class="col col-md-3">
                                        <label for="select" class=" form-control-label">Turi:</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select name="department" id="select" class="form-control" required>
                                            <option value="0">tanlang...</option>
                                            {% for department in departments %}
                                                <option value="{{ department.id }}">{{ department.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <button type="submit" class="col-lg-4 btn btn-success btn-group-md">
                                    <i class="fa fa-dot-circle-o"></i>
                                    Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <strong>
                                Kompyuter
                            </strong>
                            turi bo'yicha
                        </div>
                        <div class="card-body card-block">
                            <form action="{% url 'main:by_type' %}" method="post" class="form-inline"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group col-lg-8">
                                    <div class="col col-md-3">
                                        <label for="select" class=" form-control-label">Turi:</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select name="type" id="select" class="form-control">
                                            <option value="0">tanlang...</option>
                                            {% for type in types %}
                                                <option value="{{ type.id }}">{{ type.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <button type="submit" class="col-lg-4 btn btn-success btn-group-md">
                                    <i class="fa fa-dot-circle-o"></i> Submit
                                </button>
                            </form>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <strong>
                                Kompyuter
                            </strong>
                            holati bo'yicha
                        </div>
                        <div class="card-body card-block">
                            <form action="{% url 'main:by_active' %}" method="post" class="form-inline"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group col-lg-8">
                                    <div class="col col-md-3">
                                        <label for="select" class=" form-control-label">Turi:</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select name="is_active" id="select" class="form-control">
                                            <option value="True">Ishlaydi</option>
                                            <option value="False">Ishlamaydi</option>
                                        </select>
                                    </div>
                                </div>

                                <button type="submit" class="col-lg-4 btn btn-success btn-group-md">
                                    <i class="fa fa-dot-circle-o"></i> Submit
                                </button>
                            </form>
                        </div>

                    </div>
                </div>


            </div>
        </div><!-- .animated -->
    </div><!-- .content -->


    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12" id="table-container">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Xodimlar</strong>
                        </div>
                        <div class="card-body">
                            <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>F.I.O.</th>
                                    <th>Bo'limi</th>
                                    <th>Invention ID</th>
                                    <th>Kompyuter</th>
                                    <th>Holati</th>
                                    <th>Sozlamalari</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for employee in employees %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ employee.full_name }}</td>
                                        {% if employee.department %}
                                            <td>{{ employee.department }}</td>
                                        {% else %}
                                            <td> ----</td>
                                        {% endif %}


                                        {% if employee.computer %}
                                            <td>
                                                <div class="">
                                                    {{ employee.computer.invention_id }}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="">
                                                    {{ employee.computer.type }}
                                                    <img class="" src="{{ employee.computer.type.image.url }}"
                                                         height="40"
                                                         alt="Card image cap">
                                                </div>
                                            </td>
                                            <td>
                                                {% if employee.computer.is_active %}
                                                    <p class="text-success">Ishlaydi</p>
                                                {% else %}
                                                    <p class="text-danger">Ishlamaydi</p>
                                                {% endif %}
                                            </td>
                                        {% else %}
                                            <td>
                                                ---
                                            </td>
                                            <td>
                                                ---
                                            </td>
                                            <td>
                                                ---
                                            </td>
                                        {% endif %}
                                        <td>
                                            <a href="{% url 'main:delete-employee' employee.id %}"
                                               class="btn btn-outline-danger">
                                                O'chirish
                                            </a>
                                            <a href="{% url 'main:update-employee' employee.id %}"
                                               class="btn btn-outline-primary">
                                                O'zgartirish
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div><!-- .animated -->
    </div><!-- .content -->
    
{% endblock %}
