<!doctype html>
{% load static %}
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} {% endblock %}</title>
    <meta name="description" content="System Admin - Dashboard">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/selectFX/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/jqvmap/dist/jqvmap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">


    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>


<!-- Left Panel -->

<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
                    aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{% url 'main:welcome' %}">
                System Admin
            </a>
            <a class="navbar-brand hidden" href="{% url 'main:welcome' %}">
                System Admin
            </a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{% url 'main:welcome' %}">
                        <i class="menu-icon fa fa-dashboard"></i>
                        Dashboard
                    </a>
                </li>

                <li class="active">
                    <a href="{% url 'main:types' %}">
                        <i class="menu-icon fa fa-bar-chart"></i>
                        Kompyuter turlari
                    </a>
                </li>

                <li class="active">
                    <a href="{% url 'main:computers' %}">
                        <i class="menu-icon fa fa-laptop"></i>
                        Kompyuterlar
                    </a>
                </li>

                <li class="active">
                    <a href="{% url 'main:departments' %}">
                        <i class="menu-icon fa fa-tasks"></i>
                        Departments
                    </a>
                </li>

                <li class="active">
                    <a href="{% url 'main:employees' %}">
                        <i class="menu-icon fa fa-users"></i>Hodimlar </a>
                </li>

                <li class="active">
                    <div class="progress mb-3">
                        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"
                             role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </li>

                <li class="active">
                    <a href="{% url 'main:report_full' %}">
                        <i class="menu-icon fa fa-users"></i>
                        Barcha Xodimlar
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'main:report_full' %}">
                        <i class="menu-icon fa fa-users"></i>
                        To'liq Xisobot
                    </a>
                </li>

                <li class="menu-item-has-children active dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Bo'limlar bo'yicha xisobot</a>
                    <ul class="sub-menu children dropdown-menu">
                        {% for department in departments %}
                            <li>
                                <a href="{% url 'main:report_by_department' department.id %}">
                                    {{ department }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="menu-item-has-children active dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>pc bo'yicha xisobot</a>
                    <ul class="sub-menu children dropdown-menu">
                        {% for type in types %}
                            <li>
                                <a href="{% url 'main:report_by_department' type.id %}">
                                    {{ type }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="menu-item-has-children active dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>pc holati bo'yicha</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li>
                            <a href="{% url 'main:report_active_computer' %}">
                                Ishlaydigan pc
                            </a>
                            <a href="{% url 'main:report_deactivate_computer' %}">
                                Ishlamaydigan pc
                            </a>
                        </li>
                    </ul>
                </li>


            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->

<!-- Left Panel -->

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">

        <div class="header-menu">

            <div class="col-sm-7">
                System Admin Profile
            </div>
            <div class="col-sm-5">
                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <img class="user-avatar rounded-circle" src="{% static 'images/admin.jpg' %}" alt="User Avatar">
                    </a>

                    <div class="user-menu dropdown-menu">
                        <a class="nav-link" href="#">
                            <i class="fa fa-user"></i>
                            {{ request.user.username }}
                        </a>
                        <a class="nav-link" href="{% url 'main:logout' %}">
                            <i class="fa fa-power-off"></i>
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </header><!-- /header -->
    <!-- Header-->


    {% block content %}

    {% endblock %}


</div><!-- /#right-panel -->

<!-- Right Panel -->

<script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendors/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>


<script src="{% static 'vendors/chart.js/dist/Chart.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/dashboard.js' %}"></script>
<script src="{% static 'assets/js/widgets.js' %}"></script>
<script src="{% static 'vendors/jqvmap/dist/jquery.vmap.min.js' %}"></script>
<script src="{% static 'vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
<script src="{% static 'vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
<script>


    (function ($) {
        "use strict";

        jQuery('#vmap').vectorMap({
            map: 'world_en',
            backgroundColor: null,
            color: '#ffffff',
            hoverOpacity: 0.7,
            selectedColor: '#1de9b6',
            enableZoom: true,
            showTooltip: true,
            values: sample_data,
            scaleColors: ['#1de9b6', '#03a9f5'],
            normalizeFunction: 'polynomial'
        });
    })(jQuery);
</script>

<script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
<script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'assets/js/init-scripts/data-table/datatables-init.js' %}"></script>

</body>

</html>
